<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">


    <!-- <section class="content-header">
      <h1>
        Profile
        <span *ngIf="profileEdit" class="badge badge-pill badge-danger">Profile Editing Enable</span>
      </h1>
      <ol class="breadcrumb">
        <button class="btn btn-small btn-primary" (click)="editProfile()">
          Edit
        </button>
      </ol>
    </section> -->

    <div class="row">
      <div class="col-md-4">
        <h3>
          Profile
        </h3>
      </div>
      <div class="col-md-4 offset-md-4">
        <h3><span class="label label-success">Mr. Hunkipanki</span></h3>
      </div>
      <!-- <div class="col-md-4 col-md-4 offset-md-8"> -->
      <div class="col-lg-4 col-lg-4 offset-lg-8">

      </div>
    </div>

    <!-- photo -->
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 offset-md-6">
        <!-- <img class="profile-user-img img-responsive img-circle" src="/assets/dist/img/user4-128x128.jpg" -->
        <!-- <img class="img-responsive" src="/assets/dist/img/photo3.jpg" alt="User profile picture"> -->
        <!-- <img class="img-responsive" [src]="photo" alt="User profile picture"> -->
        <img class="img-responsive" [src]="imageToShow" alt="User profile picture">
        <!-- <h5 *ngIf="photoEdit"><span class="label label-success">Edit Photo</span></h5> -->
        <input *ngIf="photoEdit" type="file" (change)="onFileChanged($event)" #fileInput>
        <!-- <button *ngIf="photoEdit" (click)="fileInput.click()">Select File</button> -->
        <button *ngIf="photoEdit" class="btn btn-xs btn-danger" (click)="onUpload()"> Save</button>
        <button class="btn btn-small btn-primary" (click)="editPhoto()">Change Photo</button>
      </div>
    </div>


    <app-basic></app-basic>

    <app-about></app-about>

    <app-education></app-education>

    <app-jobs></app-jobs>


    <!-- content-wrapper -->
