<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">

    <!--start : showing all event-->
    <div id="all_events" class="tabcontent ">
      <h1>All Events</h1>

      <button class="btn btn-primary btn-sm" (click)="refreshTable_event()">Refresh</button>

      <!-- search by column name -->
      <div class="col-md-12 offset-md-12">
        <div class="form-group">
          <h4>Search By :</h4>
          <select [(ngModel)]="event_search_by">
            <option value="id">Id</option>
            <option value="title">Title</option>
            <option value="start_date">Start Date</option>
            <option value="end_date">End Date</option>
            <option value="fee">Fee</option>
            <option value="location">Location</option>
          </select>
        </div>
      </div>
      <!--      search key input -->
      <div class="col-md-12 offset-md-12">
        <div class="form-group">
          <label>Value : </label>
          <input [(ngModel)]="event_value_search" type="text" class="form-control" placeholder="search...">
        </div>
      </div>

      <!--            start : basic search pagination panel-->
      <!--      perPage-->
      <div class="col-md-2 offset-md-2">
        <div style="text-align: center" class="form-group">
          <label>Per Page</label>
          <input style="text-align: center" [(ngModel)]="eventSearch_perPage" type="number" class="form-control"
                 value="{{eventSearch_perPage}}" (ngModelChange)="refreshTable_eventSearch()">
        </div>
      </div>
      <!--      total-->
      <div class="col-md-2 offset-md-2">
        <div style="text-align: center" class="form-group">
          <label>Total </label>
          <input style="text-align: center" disabled="true" [(ngModel)]="eventSearch_total" type="number"
                 class="form-control"
                 value="{{eventSearch_total}}">
        </div>
      </div>
      <!--      prePage/nextPage-->
      <div class="col-md-3 offset-md-3">
        <div class="form-group" style="text-align: center">
          <button class="btn btn-primary btn-xs" (click)="eventSearch_previousPage()">Previous</button>
          <label class="btn btn-danger btn-xs ">Page Number</label>
          <button class="btn btn-primary btn-xs" (click)="eventSearch_nextPage()">Next</button>
          <input style="text-align: center" [(ngModel)]="eventSearch_pageNumber" type="number" class="form-control"
                 value="{{eventSearch_pageNumber}}">
        </div>
      </div>
      <!--       sort by ASC or DESC -->
      <div class="col-md-3 offset-md-3">
        <div class="form-group" style="text-align: center">
          <h4>Sort Order</h4>
          <input type="radio" name="m_pay" [(ngModel)]="eventSearch_sort_by" value="ASC"
                 checked="checked">Ascending<br>
          <input type="radio" name="m_pay" [(ngModel)]="eventSearch_sort_by" value="DESC">Descending<br>
        </div>
      </div>
      <!--       sort by column name -->
      <div>
        <h4>Sort By</h4>
        <select [(ngModel)]="eventSearch_sort_on">
          <option value="id">Id</option>
          <option value="start_date" [selected]="true">Start Date</option>
          <option value="end_date">End Date</option>
          <option value="fee">Fee</option>
          <option value="location">Location</option>
        </select>
      </div>
      <!--            end : basic search pagination panel-->

    </div>
    <!--end : showing all event-->


    <table class="table table-responsive col-xs-12">
      <div *ngFor="let event of event_array; let i=index">
        <div class="breadcrumb">
          <h1>{{event.title}}</h1>
          <button type="button" class="btn btn-xs btn-info">Start Date <span class="badge">{{event.start_date}}</span>
          </button>
          <button type="button" class="btn btn-xs btn-danger">End Date <span class="badge">{{event.end_date}}</span>
          </button>
          <button type="button" class="btn btn-xs btn-primary">Fee BDT  <span class="badge">{{event.fee}}</span>
          </button>
          <button type="button" class="btn btn-xs btn-warning">Location <span class="badge">{{event.location}}</span>
          </button>

          <p class="lead">
            <a target="_blank" class="btn btn-primary btn-md" role="button"
               [routerLink]="['/event_details', event.id]">Details</a>
            <!--<a target="_blank" [routerLink]="['/event_details', event.id]">Event Details</a>-->
          </p>
        </div>
      </div>
    </table>

  </div>
  <!-- content warpper -->
</div>
<!--wrapper-->


