<!-- <p>about works!</p> -->
<!-- About me -->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#about_me">About Me</a>
      </h4>
    </div>
    <div id="about_me" class="panel-collapse collapse">
      <div class="panel-body">
        <textarea [disabled]='!profileEdit' class="form-control" rows="3" placeholder="Enter ...">
                  I am slow waker but never come back.
          </textarea>
      </div>
      <div class="panel-footer">About Me</div>
    </div>
  </div>
</div>
