<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">

    <!-- <section class="content-header">
      <section class="content">
        <h1>Welcome to Payment</h1>
      </section>
    </section> -->


    <div class="panel-group">


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#add_payment">Add Payment</a>
          </h4>
        </div>
        <div id="add_payment" class="panel-collapse collapse">
          <div class="panel-body">
            <h3>Add Payment!</h3>

            <div class="col-md-12 offset-md-12">
              <div class="form-group">
                <label>Name : </label>
                <input [(ngModel)]="name" type="text" class="form-control" placeholder="512 Character Max..">
              </div>
            </div>

            <div class="col-md-3 offset-md-3">
              <div class="form-group">
                <label>Start Date</label>
                <input [(ngModel)]="start_date" type="text" class="form-control" placeholder="{{start_date}}">
              </div>
            </div>
            <div class="col-md-3 offset-md-3">
              <div class="form-group">
                <label>Select Date</label>
                <input [(ngModel)]="start_date" type="date" class="form-control" value="{{start_date}}">
              </div>
            </div>
            <div class="col-md-3 offset-md-3">
              <div class="form-group">
                <label>Last Date</label>
                <input [(ngModel)]="last_date" type="text" class="form-control" placeholder="{{last_date}}">
              </div>
            </div>
            <div class="col-md-3 offset-md-3">
              <div class="form-group">
                <label>Select Date</label>
                <input [(ngModel)]="last_date" type="date" class="form-control" value="{{last_date}}">
              </div>
            </div>

            <div class="col-md-12 ">
              <div class="form-group">
                <label>Amount</label>
                <input [(ngModel)]="amount" type="text" class="form-control">
              </div>
            </div>

            <div class="col-md-12 ">
              <div class="form-group">
                <label>Dscription</label>
                <textarea [(ngModel)]="description" class="form-control" rows="3" placeholder="Enter ...">
                      Enter The Dscription of the Payment!
                  </textarea>
              </div>
            </div>

            <div class="col-md-3 ">
              <div class="form-group">
                <button class="btn btn-primary" (click)="create()">Save</button>
                <button class="btn btn-danger" (click)="clearAllFields()">Clear All</button>
              </div>
            </div>
          </div>
          <!-- end : panel-body -->
        </div>
        <div class="panel-footer">Add Payment</div>
      </div>


      <!-- all Payments -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#all_payment">All Payment</a>
          </h4>
        </div>
        <div id="all_payment" class="panel-collapse collapse">
          <div class="panel-body">
            <h3>
              All Payment!
              <button class="btn btn-xs btn-primary" (click)="refreshTable()">Refresh</button>
            </h3>

            <div class="col-md-3 offset-md-3">
              <div class="form-group">
                <label>Per Page</label>
                <input [(ngModel)]="perPage" type="text" class="form-control" value="{{perPage}}" >
              </div>
            </div>

            <div class="col-xs-12">
              <div class="box">
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>Last Date</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Operation</th>
                      </tr>
                      <tr *ngFor="let pt of ptsArray; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{pt.name}}</td>
                        <td>{{pt.start_date}}</td>
                        <td>{{pt.last_date}}</td>
                        <td>{{pt.amount}}</td>
                        <td>{{pt.description}}</td>
                        <td>
                          <button class="btn btn-xs btn-primary" data-toggle="modal"
                            data-target="#modal_work">Edit</button>
                          <button class="btn btn-xs btn-warning">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="panel-footer">All Payments Types</div>
            </div>


          </div>
        </div>
        <div class="panel-footer">All Payment</div>
      </div>


      <!-- panel-group -->
    </div>





  </div>

























  <!-- ton trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Modal Body h3</h3>
          <br>
          <br>
          <h4>Modal Body h4</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>

    <!-- <app-footernavbar></app-footernavbar> -->
    <!-- <app-settingsnavbar></app-settingsnavbar> -->
  </div>
  <!-- <app-footernavbar></app-footernavbar> -->


</div>
