<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">

    <!-- Sidebar user panel -->
    <div *ngIf="loggedIn" class="user-panel">
      <div class="pull-left image">
        <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <!-- <li class="header">MAIN NAVIGATION</li> -->



      <li routerLinkActive="active">
        <a routerLink="/about">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <span>About</span>
        </a>
      </li>
      <li>
        <a routerLink="/news">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          <span>News</span>
        </a>
      </li>

      <li>
        <a routerLink="/events">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <span>Events</span>
        </a>
      </li>
      <li>
        <a routerLink="/register">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          <span>Register</span>
        </a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a routerLink="/admin">
          <!-- <i class="fa fa-user-plus" aria-hidden="true"></i> -->
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <!-- <span>Admin</span> -->
          <span>Singin</span>
        </a>
      </li>

      <!-- start : private sections -->
      <li *ngIf="isAuthenticated">
        <a>
          <i class="fa fa-search" aria-hidden="true"></i>
          <span>Search</span>
        </a>
      </li>


      <li class="treeview" *ngIf="isAuthenticated">
        <!-- <li class="treeview"> -->
        <a routerLink="/timeline">
          <i class="fa fa-road" aria-hidden="true"></i>
          <span>Time</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
          <li><button> <i class="fa fa-pencil" aria-hidden="true"></i>Edit</button></li>

          <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>Payments</a></li>
          <li><a href="#"><i class="fa fa-bookmark" aria-hidden="true"></i> Saved</a></li>
        </ul>
      </li>



      <li class="treeview" *ngIf="isAuthenticated">
        <!-- <li class="treeview"> -->
        <a routerLink="/profile">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span>Profile</span>
        </a>
      </li>






      <li *ngIf="isAuthenticated">
        <a (click)="logOut()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <span>Log Out</span>
        </a>
      </li>

      <!-- kept as example for further use. -->
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-folder"></i> <span>Examples</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
          <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
          <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
          <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
          <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
          <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
          <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
          <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
          <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
        </ul>
      </li> -->

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
