<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">

    <div class="tab">
      <button class="tablinks" (click)="searchTab(event, 'new')">Administrate Role</button>
      <button class="tablinks active" (click)="searchTab(event, 'all_events')">Administrative People</button>
      <!--      <button class="tablinks" (click)="searchTab(event, 'education')">Education</button>-->
    </div>

    <!--    start : Administrative role management-->
    <div id="new" class="tabcontent">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <h4 style="background-color:pink;" align="center">Roles</h4>
            <button class="btn btn-info" (click)="add_new=!add_new">Add New</button>
            <!--start : new Role-->
            <div *ngIf="add_new" class="box box-body box-info">
              <h5>New Role</h5>
              <div class="col-md-12 offset-md-12">
                <div class="form-group">
                  <label>Name : </label>
                  <input [(ngModel)]="role_title" type="text" class="form-control" placeholder="512 Character Max..">
                </div>
              </div>
              <div class="col-md-12 offset-md-12">
                <div class="form-group">
                  <label>Details: </label>
                  <!--<textarea [(ngModel)]="role_details" class="col-md-12 offset-md-12 text-primary" rows="10"></textarea>-->
                  <ckeditor [(ngModel)]="role_details" data="<p>Hello, world!</p>"></ckeditor>
                </div>
              </div>
              <button class="btn btn-md btn-primary" (click)="save()">Save</button>
            </div>
            <!--end : new Role-->
            <h4 align="center">All Roles</h4>
            <button class="btn btn-xs btn-info" align="center" (click)="refresh_table()">Refresh</button>
            <div class="box">
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>Edit</th>
                    <th>Details</th>
                    <th>Index</th>
                    <th>Role</th>
                  </tr>
                  <tr *ngFor="let r of roles; let i=index">
                    <!--delete-->
                    <td>
                      <button class="btn btn-xs btn-danger" href="" data-toggle="modal" data-target="#role_delete"
                              (click)="setPaymentTypeID(pt.id,pt.amount)">
                        Delete
                      </button>
                    </td>
                    <!--edit-->
                    <!--<td>-->
                    <!--<button class="btn btn-xs btn-primary" href="" data-toggle="modal" data-target="#do_payment"-->
                    <!--(click)="setPaymentTypeID(pt.id,pt.amount)">-->
                    <!--Edit-->
                    <!--</button>-->
                    <!--</td>-->
                    <!--details-->
                    <td>
                      <button class="btn btn-xs btn-info" href=""
                              (click)=" role_show_title=r.title;role_show_detils=r.description">
                        Details
                      </button>
                    </td>
                    <td>{{i+1}}</td>
                    <td>{{r.title}}</td>

                    <!--refacotor : Have to make util component delete, by @input value will send, by @output click value will be got-->
                    <!-- start-Modal :  Delete Confirmation -->
                    <div class="modal fade" id="role_delete" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Role Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <h4>Are U sure to delete?</h4>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-secondary btn-danger" (click)="delete(r.id)"
                                    data-dismiss="modal">
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end-Modal :  Delete Confirmation -->

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--end : roles-->
          <div class="col-sm-4" style="background-color:lavenderblush;">
            <h4 align="center">Roles Detilas</h4>
            <div class="box box-primary">
              <div class="box-header">
                <h4 class="text-aqua">{{role_show_title}}</h4>
              </div>
              <h4 innerHtml="{{role_show_detils}}"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    end : Administrative role management-->

    <!--    start : Administrative people management -->
    <div id="all_events" class="tabcontent">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4" style="background-color:pink;">
            <h4 class="box box-header box-primary" align="center">Roles</h4>
            <button class="btn btn-xs btn-info" align="center" (click)="refresh_table()">Refresh</button>
            <button class="btn btn-xs btn-primary" align="center" (click)="show_assigned_people()">Show Assigned People
            </button>
            <div>
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-primary">
                  <tbody>
                  <tr>
                    <th>Select</th>
                    <th>Index</th>
                    <th>Role</th>
                  </tr>
                  <tr *ngFor="let r of roles; let i=index">
                    <td>
                      <input class="text-aqua" type="radio" id="{{i+1}}" (click)="checkBoxSelection(r.id)" name="gender"
                             value="{{r.title}}">
                    </td>
                    <td>{{i+1}}</td>
                    <td>{{r.title}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="box box-header box-primary">
              <h4 align="center">Assigned People</h4>
            </div>
            <table class="table table-hover">
              <tbody>
              <tr>
                <th>Action</th>
                <th>Index</th>
                <th>Name</th>
                <th>Mail</th>
                <th>Phone</th>
              </tr>
              <tr *ngFor="let r of roles; let i=index">
                <!--<td>-->
                <!--<input class="text-aqua" type="radio" id="{{i+1}}" name="gender" value="{{r.title}}">-->
                <!--</td>-->
                <!--<td>{{i+1}}</td>-->
                <!--<td>{{r.title}}</td>-->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--    start : basic search -->
      <div>
        <h1>Basic Search</h1>
        <!--start : search fields and search key or search value -->
        <h4>
          <button class="btn btn-info" (click)="setBasicSearchCount()">Search</button>
          <button class="btn btn-xs btn-primary" (click)="refreshTable_basicSearch()">Refresh</button>
        </h4>
        <!-- sort by column name -->
        <div class="col-md-12 offset-md-12">
          <div class="form-group">
            <h4>Search By :</h4>
            <select [(ngModel)]="basic_search_by">
              <option value="batch">Student Batch</option>
              <option value="student_id">Student ID</option>
              <option value="dept">Dept</option>
              <option value="first_name">First Name</option>
              <option value="last_name">Last Name</option>
              <option value="skills">Skills</option>
              <option value="research_interest">Research Interest</option>
              <option value="phone">Phone</option>
              <option value="email">email</option>
              <option value="address">Address</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 offset-md-12">
          <div class="form-group">
            <label>Value : </label>
            <input [(ngModel)]="basic_value_search" type="text" class="form-control" placeholder="search...">
          </div>
        </div>
        <!-- end : search fields selection and search key or search value-->

        <!-- Start : showing all profiles after search -->
        <!--            start : basic search pagination panel-->
        <!--      perPage-->
        <div class="col-md-2 offset-md-2">
          <div style="text-align: center" class="form-group">
            <label>Per Page</label>
            <input style="text-align: center" [(ngModel)]="basicSearch_perPage" type="number" class="form-control"
                   value="{{basicSearch_perPage}}" (ngModelChange)="refreshTable_basicSearch()">
          </div>
        </div>
        <!--      total-->
        <div class="col-md-2 offset-md-2">
          <div style="text-align: center" class="form-group">
            <label>Total </label>
            <input style="text-align: center" disabled="true" [(ngModel)]="basicSearch_total" type="number"
                   class="form-control"
                   value="{{basicSearch_total}}">
          </div>
        </div>
        <!--      prePage/nextPage-->
        <div class="col-md-3 offset-md-3">
          <div class="form-group" style="text-align: center">
            <button class="btn btn-primary btn-xs" (click)="basicSearch_previousPage()">Previous</button>
            <label class="btn btn-danger btn-xs ">Page Number</label>
            <button class="btn btn-primary btn-xs" (click)="basicSearch_nextPage()">Next</button>
            <input style="text-align: center" [(ngModel)]="basicSearch_pageNumber" type="number" class="form-control"
                   value="{{basicSearch_pageNumber}}">
          </div>
        </div>
        <!--       sort by ASC or DESC -->
        <div class="col-md-3 offset-md-3">
          <div class="form-group" style="text-align: center">
            <h4>Sort Order</h4>
            <input type="radio" name="m_pay" [(ngModel)]="basicSearch_sort_by" value="ASC"
                   checked="checked">Ascending<br>
            <input type="radio" name="m_pay" [(ngModel)]="basicSearch_sort_by" value="DESC">Descending<br>
          </div>
        </div>
        <!--       sort by column name -->
        <div>
          <h4>Sort By</h4>
          <select [(ngModel)]="basicSearch_sort_on">
            <option value="student_id" [selected]="true">Student ID</option>
            <option value="batch">Batch</option>
            <option value="passing_year">Passing Year</option>
            <option value="dept">Dept</option>
            <option value="gender">Gender</option>
          </select>
        </div>
        <!--            end : basic search pagination panel-->

        <!-- satrt :  basic search showing all Profiles-->
        <!-- start : table -->
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                <tr>
                  <th>Add</th>
                  <th>Index</th>
                  <th>Batch</th>
                  <th>ID</th>
                  <th>Dept</th>
                  <th>Name</th>
                  <th>Mobile</th>
                  <th>Address</th>
                  <th>Passing Year</th>
                  <th>Research Interest</th>
                  <th>Social Link</th>
                </tr>

                <!-- showing all profiles after basic search  -->
                <tr *ngFor="let basic of baicSearch_profiles_array; let i=index">
                  <td>
                    <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#modal_payment_details">
                      Add
                    </button>
                  </td>
                  <td>{{i + 1}}</td>
                  <td>{{basic.batch}}</td>
                  <td>{{basic.student_id}}</td>
                  <td>{{basic.dept}}</td>
                  <td>{{basic.first_name}}{{basic.last_name}}</td>
                  <td>{{basic.phone}}</td>
                  <td>{{basic.address_present}}</td>
                  <td>{{basic.passing_year}}</td>
                  <td>{{basic.research_interest}}</td>
                  <td>{{basic.social_media_link}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end : table -->
        <!-- End : showing all profiles after basic search -->
      </div>
      <!--    end : basic search -->

    </div>
    <!--    end : Administrative people management  -->

  </div>
  <!--  end : content warpper -->


  <!-- ton trigger modal -->

  <!-- start-Modal : event details  -->
  <div class="modal fade" id="event_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Event Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Details</h4>
          <p *ngIf="!editDescriptionNotes" innerHtml="{{deatilsDescription}}"></p>

          <ckeditor [(ngModel)]="deatilsDescription" *ngIf="editDescriptionNotes"
                    data="<p>Hello, world!</p>"></ckeditor>

          <br>
          <br>
          <h4>Notes</h4>
          <P *ngIf="!editDescriptionNotes">{{deatilsNotes}}</P>
          <textarea *ngIf="editDescriptionNotes">{{deatilsNotes}}</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"
                  (click)=" editDescriptionNotes = !editDescriptionNotes"
                  *ngIf="editDescriptionNotes"
          >
            Save Update
          </button>
          <button type="button" class="btn btn-primary" *ngIf="!editDescriptionNotes"
                  (click)="updateDescriptionNotes()">Update
          </button>
        </div>
      </div>
    </div>
    <!-- end :  Modal -->


  </div>
  <!-- end-Modal : event details Modal -->


  <!--  start : test -->
  <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#event_edit_basic">-->
  <!--Event Details-->
  <!--</button>-->
  <!--  end : test -->

  <!-- start-Modal :  Event Edit Basic -->
  <div class="modal fade" id="event_edit_basic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Event Basic Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--  start : modal body-->
        <div class="modal-body">
          <!--      Name-->
          <div class="col-md-12 offset-md-12">
            <div class="form-group">
              <label>Name : </label>
              <input [(ngModel)]="edit_name" type="text" class="form-control" placeholder="512 Character Max..">
            </div>
          </div>
          <!--   start date   -->
          <div class="col-md-3  offset-md-3">
            <div class="form-group">
              <label>Start Date</label>
              <input [(ngModel)]="edit_start_date" type="text" class="form-control" placeholder="{{start_date}}">
            </div>
          </div>
          <div class="col-md-3  offset-md-3">
            <div class="form-group">
              <label>Select Date</label>
              <input [(ngModel)]="edit_start_date" type="date" class="form-control" value="{{start_date}}">
            </div>
          </div>
          <!--      End date -->
          <div class="col-md-3  offset-md-3">
            <div class="form-group">
              <label>End Date</label>
              <input [(ngModel)]="edit_last_date" type="text" class="form-control" placeholder="{{last_date}}">
            </div>
          </div>
          <div class="col-md-3  offset-md-3">
            <div class="form-group">
              <label>Select Date</label>
              <input [(ngModel)]="edit_last_date" type="date" class="form-control" value="{{edit_last_date}}">
            </div>
          </div>
          <!--      Amount -->
          <div class="col-md-12 ">
            <div class="form-group">
              <label>Amount</label>
              <input [(ngModel)]="edit_cost" type="text" class="form-control">
            </div>
          </div>
          <!--      vanue-->
          <div class="col-md-12 ">
            <div class="form-group">
              <label>Vanue</label>
              <input [(ngModel)]="edit_vanue" type="text" class="form-control">
            </div>
          </div>
        </div>
        <!--  end : modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal"
                  (click)="update_event_basic()">
            Update
          </button>
        </div>
      </div>
    </div>
    <!-- end :  Modal -->


    <!-- <app-footernavbar></app-footernavbar> -->
    <!-- <app-settingsnavbar></app-settingsnavbar> -->
  </div>
  <!-- end-Modal :  Event Edit Basic -->

  <!-- start-Modal :  payment -->
  <div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Event Basic Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--  start : modal body-->
        <div class="modal-body">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#all_payment">Payment Type</a>
              </h4>
            </div>
            <div id="all_payment" class="panel-collapse collapse">
              <div class="panel-body">

                <div class="col-md-12">
                  <div class="form-group">
                    <button class="btn btn-primary" (click)="searchPaymentType()">Search</button>
                    <label>Payment Type ID</label>
                    <input [(ngModel)]="paymentID" type="text" class="form-control">
                  </div>
                </div>
                <!-- start : payment found-->
                <!-- paymentFound= payment found.  -->
                <div *ngIf="paymentFound">
                  <!--                  <button class="btn btn-primary" (click)="assingPayment(payment.$id)">Assign</button>-->
                  <button class="btn btn-primary" *ngIf="!paymentAlreadyAssingned" (click)="assingPayment(paymentID)">
                    Assign
                  </button>
                  <br>
                  <button class="btn btn-success btn-lg" *ngIf="assingSuccess">Success Fully Assingned</button>
                  <h3>
                    Payment!
                  </h3>
                  <label for="name"><b>Name:</b></label>
                  <p id="name">{{payment.$name}}</p>
                  <label for="s_date"><b>Start Date:</b></label>
                  <p id="s_date">{{payment.$start_date}}</p>
                  <label for="e_date"><b>End Date:</b></label>
                  <p id="e_date">{{payment.$last_date}}</p>
                  <label for="amount"><b>Amount:</b></label>
                  <p id="amount">{{payment.$amount}}</p>
                  <label><b>Description:</b></label>
                  <p id="descripti">{{payment.$description}}</p>
                  <button type="button" class="btn btn-danger"
                          *ngIf="paymentAlreadyAssingned"
                          (click)=" removeConfirmAsk=true">
                    Remove
                  </button>
                </div>

                <div *ngIf="!paymentFound">
                  Sorry No Payment not Found!
                  <br>
                  Please search by right ID or Add new from Payment Section!
                </div>
                <!-- end : payment found-->

                <!--start : remove confirm-->
                <div *ngIf="removeConfirmAsk">
                  <h2>Are You sure to Remvoe?</h2>
                  <button class="btn btn-sm btn-warning" (click)="removePaymentFromEvent(payment.$id)">Yes</button>
                  <button class="btn btn-sm btn-primary" (click)="this.removeConfirmAsk=false">No</button>
                </div>
                <!--end : remove confirm-->

              </div>
              <!-- panel body-->
            </div>
            <div class="panel-footer">
              Payment
            </div>
          </div>

        </div>
        <!--  end : modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <!--          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal"-->
          <!--                  (click)="update_event_basic()">-->
          <!--            Update-->
          <!--          </button>-->
        </div>
      </div>
    </div>
    <!-- end :  Modal -->


    <!-- <app-footernavbar></app-footernavbar> -->
    <!-- <app-settingsnavbar></app-settingsnavbar> -->
  </div>
  <!-- end-Modal :  payment -->

  <!--  <app-footernavbar></app-footernavbar>-->

</div>
<!--Warpper Class-->
