<h1 align="center">
  <a href="#" class="logo">
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Alumni</b>LTE GUB</span>
  </a>
</h1>

<div align="center" class="tab">
  <button class="tablinks" (click)="openCity(event, 'news')">New</button>
  <button class="tablinks" (click)="openCity(event, 'all_payments')">Events</button>
  <button class="tablinks" (click)="openCity(event, 'mobile_payments')">Administration</button>
  <button class="tablinks" (click)="openCity(event, 'loggin')">Loggin</button>
</div>

<div align="center" id="news" class="tabcontent">
  <app-news-public></app-news-public>
</div>
<div align="center" id="loggin" class="tabcontent">
  <app-auth></app-auth>
</div>
