<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">

    <div class="tab">
      <button class="tablinks active" (click)="searchTab(event, 'new')">New</button>
      <button class="tablinks" (click)="searchTab(event, 'all_events')">All Events</button>
      <!--      <button class="tablinks" (click)="searchTab(event, 'education')">Education</button>-->
    </div>

    <!--    start : Add new event -->
    <div id="new" class="tabcontent">
      <!--      <h1 class="h1">New Event</h1>-->
      <div class="col-md-12 offset-md-12">
        <div class="form-group">
          <label>Name : </label>
          <input [(ngModel)]="name" type="text" class="form-control" placeholder="512 Character Max..">
        </div>
      </div>
      <div class="col-md-3  offset-md-3">
        <div class="form-group">
          <label>Start Date</label>
          <input [(ngModel)]="start_date" type="text" class="form-control" placeholder="{{start_date}}">
        </div>
      </div>
      <div class="col-md-3  offset-md-3">
        <div class="form-group">
          <label>Select Date</label>
          <input [(ngModel)]="start_date" type="date" class="form-control" value="{{start_date}}">
        </div>
      </div>
      <div class="col-md-3  offset-md-3">
        <div class="form-group">
          <label>Last Date</label>
          <input [(ngModel)]="last_date" type="text" class="form-control" placeholder="{{last_date}}">
        </div>
      </div>
      <div class="col-md-3  offset-md-3">
        <div class="form-group">
          <label>Select Date</label>
          <input [(ngModel)]="last_date" type="date" class="form-control" value="{{last_date}}">
        </div>
      </div>

      <div class="col-md-12 ">
        <div class="form-group">
          <label>Amount</label>
          <input [(ngModel)]="cost" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="form-group">
          <label>Vanue</label>
          <input [(ngModel)]="vanue" type="text" class="form-control">
        </div>
      </div>

      <label>Dscription</label>
      <ckeditor [(ngModel)]="description" data="<p>Hello, world!</p>"></ckeditor>

      <div class="col-md-12 ">
        <div class="form-group">
          <label>Note</label>
          <!--          <input [(ngModel)]="note" type="text" class="form-control">-->
          <textarea [(ngModel)]="note" type="text" class="form-control">

          </textarea>
        </div>
      </div>


      <div class="col-md-3">
        <div class="form-group">
          <button class="btn btn-primary" data-toggle="collapse" href="#add_payment" (click)="createEvent()">Save
          </button>
          <button class="btn btn-danger">Clear All</button>
        </div>
      </div>
      <!--      Dummy to remove a block looking view from UI-->
      <div><br></div>


    </div>
    <!--    end : Add new event -->

    <!--    start : Showing  All events -->
    <div id="all_events" class="tabcontent">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="active_search" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Active Search
        </label>
      </div>
      <button class="btn btn-primary btn-sm" (click)="refreshTable_eventSearch()">Refresh</button>


      <!-- sort by column name -->
      <div class="col-md-12 offset-md-12">
        <div class="form-group">
          <h4>Search By :</h4>
          <select [(ngModel)]="event_search_by">
            <option value="title">Title</option>
            <option value="start_date" [selected]="true">Start Date</option>
            <option value="end_date">End Date</option>
            <option value="fee">Fee</option>
            <option value="location">Location</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 offset-md-12">
        <div class="form-group">
          <label>Value : </label>
          <input [(ngModel)]="event_value_search" type="text" class="form-control" placeholder="search...">
        </div>
      </div>
      <!-- end : search fields selection and search key or search value-->

      <!-- Start : showing all profiles after search -->
      <!--            start : basic search pagination panel-->
      <!--      perPage-->
      <div class="col-md-2 offset-md-2">
        <div style="text-align: center" class="form-group">
          <label>Per Page</label>
          <input style="text-align: center" [(ngModel)]="eventSearch_perPage" type="number" class="form-control"
                 value="{{eventSearch_perPage}}" (ngModelChange)="refreshTable_eventSearch()">
        </div>
      </div>
      <!--      total-->
      <div class="col-md-2 offset-md-2">
        <div style="text-align: center" class="form-group">
          <label>Total </label>
          <input style="text-align: center" disabled="true" [(ngModel)]="eventSearch_total" type="number"
                 class="form-control"
                 value="{{eventSearch_total}}">
        </div>
      </div>
      <!--      prePage/nextPage-->
      <div class="col-md-3 offset-md-3">
        <div class="form-group" style="text-align: center">
          <button class="btn btn-primary btn-xs" (click)="eventSearch_previousPage()">Previous</button>
          <label class="btn btn-danger btn-xs ">Page Number</label>
          <button class="btn btn-primary btn-xs" (click)="eventSearch_nextPage()">Next</button>
          <input style="text-align: center" [(ngModel)]="eventSearch_pageNumber" type="number" class="form-control"
                 value="{{eventSearch_pageNumber}}">
        </div>
      </div>
      <!--       sort by ASC or DESC -->
      <div class="col-md-3 offset-md-3">
        <div class="form-group" style="text-align: center">
          <h4>Sort Order</h4>
          <input type="radio" name="m_pay" [(ngModel)]="eventSearch_sort_by" value="ASC"
                 checked="checked">Ascending<br>
          <input type="radio" name="m_pay" [(ngModel)]="eventSearch_sort_by" value="DESC">Descending<br>
        </div>
      </div>
      <!--       sort by column name -->
      <div>
        <h4>Sort By</h4>
        <select [(ngModel)]="eventSearch_sort_on">
          <option value="start_date" [selected]="true">Start Date</option>
          <option value="end_date">End Date</option>
          <option value="fee">Fee</option>
          <option value="location">Location</option>
        </select>
      </div>
      <!--            end : basic search pagination panel-->

      <!-- start :  showing all events search-->
      <!-- start : table -->
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
              <tr>
                <th>Details</th>
                <th>Index</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Amount</th>
                <th>Vanue</th>
              </tr>

              <!-- showing all profiles after basic search  -->
              <tr *ngFor="let event of event_array; let i=index">
                <td>
                  <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#modal_payment_details">
                    Details
                  </button>
                </td>
                <td>{{i + 1}}</td>
                <td>{{event.title}}</td>
                <td>{{event.start_date}}</td>
                <td>{{event.end_date}}</td>
                <td>{{event.fee}} </td>
                <td>{{event.location}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end : table -->
      <!-- End : showing all events search -->

    </div>
    <!--    end : Showing  All events -->

  </div>


  <!-- ton trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Modal Body h3</h3>
          <br>
          <br>
          <h4>Modal Body h4</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>

    <!-- <app-footernavbar></app-footernavbar> -->
    <!-- <app-settingsnavbar></app-settingsnavbar> -->
  </div>
  <!--  <app-footernavbar></app-footernavbar>-->


</div>
