<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">

    <div class="tab">
      <button class="tablinks active" (click)="searchTab(event, 'new')">New</button>
      <button class="tablinks" (click)="searchTab(event, 'all_events')">All Events</button>
      <!--      <button class="tablinks" (click)="searchTab(event, 'education')">Education</button>-->
    </div>

    <!--    start : Add new event -->
    <div id="new" class="tabcontent">


      <!--      start : payments; for assinging -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#all_payment">Payment Type</a>
          </h4>
        </div>
        <div id="all_payment" class="panel-collapse collapse">
          <div class="panel-body">

            <div class="col-md-12">
              <div class="form-group">
                <button class="btn btn-primary" (click)="searchPaymentType()">Search</button>
                <label>Payment Type ID</label>
                <input [(ngModel)]="paymentID" type="text" class="form-control">
              </div>
            </div>
            <!-- start : payment found-->
            <div *ngIf="paymentFound">
              <button class="btn btn-primary">Assign</button>
              <h3>
                Payment!
              </h3>

              <label for="name"><b>Name:</b></label>
              <p id="name">{{payment.$name}}</p>
              <label for="s_date"><b>Start Date:</b></label>
              <p id="s_date">{{payment.$start_date}}</p>
              <label for="e_date"><b>End Date:</b></label>
              <p id="e_date">{{payment.$last_date}}</p>
              <label for="amount"><b>Amount:</b></label>
              <p id="amount">{{payment.$amount}}</p>
              <label><b>Description:</b></label>
              <p id="descripti>{{payment.$description}}</p>

            </div>

            <div *ngIf="!paymentFound">
              Sorry No Payment not Found!
              <br>
              Please search by right ID or Add new from Payment Section!
            </div>

            <!-- end : payment found-->


          </div>
          <!-- panel body-->
        </div>
        <div class="panel-footer">All Payment</div>
      </div>
      <!--      end : payments; for assinging -->


      <!--      Name-->
      <div class="col-md-12 offset-md-12">
        <div class="form-group">
          <label>Name : </label>
          <input [(ngModel)]="name" type="text" class="form-control" placeholder="512 Character Max..">
        </div>
      </div>
      <!--   start date   -->
      <div class="col-md-3  offset-md-3">
        <div class="form-group">
          <label>Start Date</label>
          <input [(ngModel)]="start_date" type="text" class="form-control" placeholder="{{start_date}}">
        </div>
      </div>
      <div class="col-md-3  offset-md-3">
        <div class="form-group">
          <label>Select Date</label>
          <input [(ngModel)]="start_date" type="date" class="form-control" value="{{start_date}}">
        </div>
      </div>
      <!--      End date -->
      <div class="col-md-3  offset-md-3">
        <div class="form-group">
          <label>End Date</label>
          <input [(ngModel)]="last_date" type="text" class="form-control" placeholder="{{last_date}}">
        </div>
      </div>
      <div class="col-md-3  offset-md-3">
        <div class="form-group">
          <label>Select Date</label>
          <input [(ngModel)]="last_date" type="date" class="form-control" value="{{last_date}}">
        </div>
      </div>
      <!--      Amount -->
      <div class="col-md-12 ">
        <div class="form-group">
          <label>Amount</label>
          <input [(ngModel)]="cost" type="text" class="form-control">
        </div>
      </div>
      <!--      vanue-->
      <div class="col-md-12 ">
        <div class="form-group">
          <label>Vanue</label>
          <input [(ngModel)]="vanue" type="text" class="form-control">
        </div>
      </div>


      <label>Dscription</label>
      <ckeditor [(ngModel)]="description" data="<p>Hello, world!</p>"></ckeditor>

      <!--      note-->
      <div class="col-md-12 ">
        <div class="form-group">
          <label>Note</label>
          <!--          <input [(ngModel)]="note" type="text" class="form-control">-->
          <textarea [(ngModel)]="note" type="text" class="form-control">

          </textarea>
        </div>
      </div>


      <div class="col-md-3">
        <div class="form-group">
          <button class="btn btn-primary" data-toggle="collapse" href="#add_payment" (click)="createEvent()">Save
          </button>
          <button class="btn btn-danger">Clear All</button>
        </div>
      </div>
      <!--      Dummy to remove a block looking view from UI-->
      <div><br></div>


    </div>
    <!--    end : Add new event -->

    <!--    start : Showing  All events -->
    <div id="all_events" class="tabcontent">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="active_search" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Active Search
        </label>
      </div>
      <button class="btn btn-primary btn-sm" (click)="refreshTable_eventSearch()">Refresh</button>


      <!-- search by column name -->
      <div class="col-md-12 offset-md-12">
        <div class="form-group">
          <h4>Search By :</h4>
          <select [(ngModel)]="event_search_by">
            <option value="id">Id</option>
            <option value="title">Title</option>
            <option value="start_date">Start Date</option>
            <option value="end_date">End Date</option>
            <option value="fee">Fee</option>
            <option value="location">Location</option>
          </select>
        </div>
      </div>
      <!--      search key input -->
      <div class="col-md-12 offset-md-12">
        <div class="form-group">
          <label>Value : </label>
          <input [(ngModel)]="event_value_search" type="text" class="form-control" placeholder="search...">
        </div>
      </div>
      <!-- end : search fields selection and search key or search value-->

      <!-- Start : showing all profiles after search -->
      <!--            start : basic search pagination panel-->
      <!--      perPage-->
      <div class="col-md-2 offset-md-2">
        <div style="text-align: center" class="form-group">
          <label>Per Page</label>
          <input style="text-align: center" [(ngModel)]="eventSearch_perPage" type="number" class="form-control"
                 value="{{eventSearch_perPage}}" (ngModelChange)="refreshTable_eventSearch()">
        </div>
      </div>
      <!--      total-->
      <div class="col-md-2 offset-md-2">
        <div style="text-align: center" class="form-group">
          <label>Total </label>
          <input style="text-align: center" disabled="true" [(ngModel)]="eventSearch_total" type="number"
                 class="form-control"
                 value="{{eventSearch_total}}">
        </div>
      </div>
      <!--      prePage/nextPage-->
      <div class="col-md-3 offset-md-3">
        <div class="form-group" style="text-align: center">
          <button class="btn btn-primary btn-xs" (click)="eventSearch_previousPage()">Previous</button>
          <label class="btn btn-danger btn-xs ">Page Number</label>
          <button class="btn btn-primary btn-xs" (click)="eventSearch_nextPage()">Next</button>
          <input style="text-align: center" [(ngModel)]="eventSearch_pageNumber" type="number" class="form-control"
                 value="{{eventSearch_pageNumber}}">
        </div>
      </div>
      <!--       sort by ASC or DESC -->
      <div class="col-md-3 offset-md-3">
        <div class="form-group" style="text-align: center">
          <h4>Sort Order</h4>
          <input type="radio" name="m_pay" [(ngModel)]="eventSearch_sort_by" value="ASC"
                 checked="checked">Ascending<br>
          <input type="radio" name="m_pay" [(ngModel)]="eventSearch_sort_by" value="DESC">Descending<br>
        </div>
      </div>
      <!--       sort by column name -->
      <div>
        <h4>Sort By</h4>
        <select [(ngModel)]="eventSearch_sort_on">
          <option value="id">Id</option>
          <option value="start_date" [selected]="true">Start Date</option>
          <option value="end_date">End Date</option>
          <option value="fee">Fee</option>
          <option value="location">Location</option>
        </select>
      </div>
      <!--            end : basic search pagination panel-->

      <!-- start :  showing all events search-->
      <!-- start : table -->
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
              <tr>
                <th>Edit</th>
                <th>Delete</th>
                <th>Description</th>
                <th>Event Detials</th>
                <th>Payment</th>
                <th>Index</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Amount</th>
                <th>Vanue</th>
              </tr>

              <!-- showing all profiles after basic search  -->
              <tr *ngFor="let event of event_array; let i=index">
                <!-- Edit -->
                <td>
                  <button class="btn btn-xs btn-primary" data-toggle="modal"
                          (click)="setBasicEventInfo(event)"
                          data-target="#event_edit_basic">
                    Edit
                  </button>
                </td>
                <!-- Delete -->
                <td>
                  <button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#event_delete"
                          (click)="setDeleteID(event.id)">
                    Delete
                  </button>
                </td>
                <!-- Details -->
                <td>
                  <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#event_details"
                          (click)="setDescriptionNotes(event.id)">
                    Description
                  </button>
                </td>
                <td>
                  <button class="btn btn-primary btn-sm">
                    <a target="_blank" [routerLink]="['/event_details', event.id]">Event Details</a>
                  </button>
                </td>
                <td>{{i + 1}}</td>
                <td>{{event.title}}</td>
                <td>{{event.start_date}}</td>
                <td>{{event.end_date}}</td>
                <td>{{event.fee}} </td>
                <td>{{event.location}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end : table -->
      <!-- End : showing all events search -->
    </div>
    <!--    end : Showing  All events -->

  </div>
  <!--  end : content warpper -->


  <!-- ton trigger modal -->

  <!-- start-Modal : event details  -->
  <div class="modal fade" id="event_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Event Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Details</h4>
          <p *ngIf="editDescriptionNotes" innerHtml="{{deatilsDescription}}"></p>

          <ckeditor [(ngModel)]="deatilsDescription" *ngIf="!editDescriptionNotes"
                    data="<p>Hello, world!</p>"></ckeditor>

          <br>
          <br>
          <h4>Notes</h4>
          <P *ngIf="editDescriptionNotes">{{deatilsNotes}}</P>
          <textarea *ngIf="!editDescriptionNotes">{{deatilsNotes}}</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"
                  (click)=" editDescriptionNotes = !editDescriptionNotes"
                  *ngIf="editDescriptionNotes"
          >
            Edit
          </button>
          <button type="button" class="btn btn-primary" *ngIf="!editDescriptionNotes"
                  (click)="updateDescriptionNotes()">Update
          </button>
        </div>
      </div>
    </div>
    <!-- end :  Modal -->


  </div>
  <!-- end-Modal : event details Modal -->

  <!-- start-Modal :  Delete Confirmation -->
  <div class="modal fade" id="event_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Event Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Are U sure to delete?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary btn-danger" (click)="delete()" data-dismiss="modal">
            Delete
          </button>
        </div>
      </div>
    </div>
    <!-- end :  Modal -->


    <!-- <app-footernavbar></app-footernavbar> -->
    <!-- <app-settingsnavbar></app-settingsnavbar> -->
  </div>
  <!-- end-Modal :  Delete Confirmation -->


  <!--  start : test -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#event_edit_basic">
    Event Details
  </button>
  <!--  end : test -->

  <!-- start-Modal :  Event Edit Basic -->
  <div class="modal fade" id="event_edit_basic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Event Basic Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--  start : modal body-->
        <div class="modal-body">
          <!--      Name-->
          <div class="col-md-12 offset-md-12">
            <div class="form-group">
              <label>Name : </label>
              <input [(ngModel)]="edit_name" type="text" class="form-control" placeholder="512 Character Max..">
            </div>
          </div>
          <!--   start date   -->
          <div class="col-md-3  offset-md-3">
            <div class="form-group">
              <label>Start Date</label>
              <input [(ngModel)]="edit_start_date" type="text" class="form-control" placeholder="{{start_date}}">
            </div>
          </div>
          <div class="col-md-3  offset-md-3">
            <div class="form-group">
              <label>Select Date</label>
              <input [(ngModel)]="edit_start_date" type="date" class="form-control" value="{{start_date}}">
            </div>
          </div>
          <!--      End date -->
          <div class="col-md-3  offset-md-3">
            <div class="form-group">
              <label>End Date</label>
              <input [(ngModel)]="edit_last_date" type="text" class="form-control" placeholder="{{last_date}}">
            </div>
          </div>
          <div class="col-md-3  offset-md-3">
            <div class="form-group">
              <label>Select Date</label>
              <input [(ngModel)]="edit_last_date" type="date" class="form-control" value="{{edit_last_date}}">
            </div>
          </div>
          <!--      Amount -->
          <div class="col-md-12 ">
            <div class="form-group">
              <label>Amount</label>
              <input [(ngModel)]="edit_cost" type="text" class="form-control">
            </div>
          </div>
          <!--      vanue-->
          <div class="col-md-12 ">
            <div class="form-group">
              <label>Vanue</label>
              <input [(ngModel)]="edit_vanue" type="text" class="form-control">
            </div>
          </div>
        </div>
        <!--  end : modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal"
                  (click)="update_event_basic()">
            Update
          </button>
        </div>
      </div>
    </div>
    <!-- end :  Modal -->


    <!-- <app-footernavbar></app-footernavbar> -->
    <!-- <app-settingsnavbar></app-settingsnavbar> -->
  </div>
  <!-- end-Modal :  Event Edit Basic -->


  <!--  <app-footernavbar></app-footernavbar>-->


</div>
<!--Warpper Class-->
