<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <button class="btn btn-info" (click)="printId()">PrintID</button>


    <div class="panel-group">
      <!-- all Payments -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#all_payment">Event Details</a>
          </h4>
        </div>

        <div id="all_payment" class="panel-collapse collapse">
          <div class="panel-body">
            <table>
              <tr>
                <td><h4>Title : </h4></td>
                <td align="center">{{event.$title}}</td>
              </tr>
              <tr>
                <td align="center"><h4>Start : </h4></td>
                <td>{{event.$start_date}}</td>
              </tr>
              <tr>
                <td align="center"><h4>Last : </h4></td>
                <td>{{event.$end_date}}</td>
              </tr>
              <tr>
                <td align="center"><h4>Fee : </h4></td>
                <td>{{event.$fee}}</td>
              </tr>
              <tr>
                <td align="center"><h4>Location : </h4></td>
                <td>{{event.$location}}</td>
              </tr>
            </table>

            <h4 style="background-color: pink">Description : </h4>
            <p [innerHTML]="event.$description"></p>

            <h4>Notes : </h4>
            <p>{{event.$notes}}</p>

          </div>
          <!-- end : panel body-->
        </div>

        <div class="panel-footer">Event Details</div>
      </div>
      <!-- panel-group -->
      <!--End :  My Payments -->
    </div>

    <!--    start : event registered-->
    <h1>Registered</h1>
    <!--start : search fields and search key or search value -->
    <h4>
      <button class="btn btn-info" (click)="setBasicSearchCount()">Search</button>
      <button class="btn btn-xs btn-primary" (click)="refreshTable_basicSearch()">Refresh</button>
    </h4>
    <!-- sort by column name -->
    <div class="col-md-12 offset-md-12">
      <div class="form-group">
        <h4>Search By :</h4>
        <select [(ngModel)]="basic_search_by">
          <option value="batch">Student Batch</option>
          <option value="student_id">Student ID</option>
          <option value="dept">Dept</option>
          <option value="first_name">First Name</option>
          <option value="last_name">Last Name</option>
          <option value="skills">Skills</option>
          <option value="research_interest">Research Interest</option>
          <option value="phone">Phone</option>
          <option value="email">email</option>
          <option value="address_present">Address Present</option>
          <option value="address_permanent">Address Permanent</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 offset-md-12">
      <div class="form-group">
        <label>Value : </label>
        <input [(ngModel)]="basic_value_search" type="text" class="form-control" placeholder="search...">
      </div>
    </div>
    <!-- end : search fields selection and search key or search value-->

    <!-- Start : showing all profiles after search -->
    <!--            start : basic search pagination panel-->
    <!--      perPage-->
    <div class="col-md-2 offset-md-2">
      <div style="text-align: center" class="form-group">
        <label>Per Page</label>
        <input style="text-align: center" [(ngModel)]="basicSearch_perPage" type="number" class="form-control"
               value="{{basicSearch_perPage}}" (ngModelChange)="refreshTable_basicSearch()">
      </div>
    </div>
    <!--      total-->
    <div class="col-md-2 offset-md-2">
      <div style="text-align: center" class="form-group">
        <label>Total </label>
        <input style="text-align: center" disabled="true" [(ngModel)]="basicSearch_total" type="number"
               class="form-control"
               value="{{basicSearch_total}}">
      </div>
    </div>
    <!--      prePage/nextPage-->
    <div class="col-md-3 offset-md-3">
      <div class="form-group" style="text-align: center">
        <button class="btn btn-primary btn-xs" (click)="basicSearch_previousPage()">Previous</button>
        <label class="btn btn-danger btn-xs ">Page Number</label>
        <button class="btn btn-primary btn-xs" (click)="basicSearch_nextPage()">Next</button>
        <input style="text-align: center" [(ngModel)]="basicSearch_pageNumber" type="number" class="form-control"
               value="{{basicSearch_pageNumber}}">
      </div>
    </div>
    <!--       sort by ASC or DESC -->
    <div class="col-md-3 offset-md-3">
      <div class="form-group" style="text-align: center">
        <h4>Sort Order</h4>
        <input type="radio" name="m_pay" [(ngModel)]="basicSearch_sort_by" value="ASC"
               checked="checked">Ascending<br>
        <input type="radio" name="m_pay" [(ngModel)]="basicSearch_sort_by" value="DESC">Descending<br>
      </div>
    </div>
    <!--       sort by column name -->
    <div>
      <h4>Sort By</h4>
      <select [(ngModel)]="basicSearch_sort_on">
        <option value="student_id" [selected]="true">Student ID</option>
        <option value="batch">Batch</option>
        <option value="passing_year">Passing Year</option>
        <option value="dept">Dept</option>
        <option value="gender">Gender</option>
      </select>
    </div>
    <!--            end : basic search pagination panel-->

    <!-- satrt :  basic information who regiestered -->
    <!-- start : table -->
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
            <tr>
              <th>Payment</th>
              <th>Details</th>
              <th>Index</th>
              <th>Batch</th>
              <th>ID</th>
              <th>Dept</th>
              <th>Name</th>
              <th>Mobile</th>
              <th>Address</th>
              <th>Passing Year</th>
              <th>Research Interest</th>
              <th>Social Link</th>
            </tr>

            <!-- showing all profiles after basic search  -->
            <tr *ngFor="let basic of baicSearch_profiles_array; let i=index">
              <td>
                <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#modal_payment_details">
                  Details
                </button>
              </td>
              <td>{{i + 1}}</td>
              <td>{{basic.batch}}</td>
              <td>{{basic.id}}</td>
              <td>{{basic.dept}}</td>
              <td>{{basic.first_name}}{{basic.last_name}} </td>
              <td>{{basic.phone}}</td>
              <td>{{basic.address_present}}</td>
              <td>{{basic.passing_year}}</td>
              <td>{{basic.research_interest}}</td>
              <td>{{basic.social_media_link}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end : table -->
    <!-- End : showing all profiles after basic search -->
    <!--    end : basic information who regiestered-->

  </div>
  <!--  content warper-->


  <!-- start-Modal :  Event Edit Basic -->
  <div class="modal fade" id="payment_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Payment Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--  start : modal body-->
        <div class="modal-body">
          <!--      Name-->
          <table>
            <tr>
              <td><h4>Payment Method :</h4></td>
              <td align="right">bKash</td>
            </tr>
            <tr>
              <td align="right"><h4>Mobile Number :</h4></td>
              <td>bKash</td>
            </tr>
            <tr>
              <td align="right"><h4>Paid Date :</h4></td>
              <td>bKash</td>
            </tr>
            <tr>
              <td align="right"><h4>Amount :</h4></td>
              <td>bKash</td>
            </tr>
          </table>
          <h4>TrxID : </h4>
          <p>
            bKashbKashbKashbKashbKashbKashbKashbKashbKashbKashbKashbKashbKashbKash
            bKashbKashbKashbKashbKashbKashbKashbKashbKashbKashbKashbKashbKashbKash
          </p>

          <div *ngIf="!addNote">
            <h4>Notes : </h4>
            <p>
              Noets Notes
            </p>
          </div>


          <div *ngIf="addNote">
            <label for="note">Note</label>
            <br>
            <textarea id="note" cols="75" rows="10">

            </textarea>
            <button class="btn btn-facebook">Save</button>
          </div>

        </div>
        <!--  end : modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" (click)="addNote =!addNote">Add Note</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal"
                  (click)="update_event_basic()">
            Approve
          </button>
        </div>
      </div>
    </div>
    <!-- end :  Modal -->


    <!-- <app-footernavbar></app-footernavbar> -->
    <!-- <app-settingsnavbar></app-settingsnavbar> -->
  </div>
  <!-- end-Modal :  Event Edit Basic -->


</div>
<!--Warpper Class-->

<!--  start : test -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#payment_details">
  Event Details
</button>
<!--  end : test -->
