<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">

    <!--<section class="content-header">-->
    <!--<section class="content ">-->
    <!--<h1>Welcome to GUB : News</h1>-->
    <!--</section>-->
    <!--</section>-->


    <!-- start : panel new News -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#news">New News</a>
        </h4>
      </div>
      <div id="news" class="panel-collapse collapse">
        <div class="panel-body">

          <!--      Title-->
          <div class="col-md-12 offset-md-12">
            <div class="form-group">
              <label>Title : </label>
              <input [(ngModel)]="title" type="text" class="form-control" placeholder="1024 Character Max..">
            </div>
          </div>

          <!-- description -->
          <div class="col-md-12 offset-md-12">
            <div class="form-group">
              <label>Description : </label>
              <ckeditor [(ngModel)]="description" data="<p>Hello, world!</p>"></ckeditor>
            </div>
          </div>

          <!-- notes -->
          <div class="col-md-12 offset-md-12">
            <div class="form-group">
              <label>Notes : </label>
              <input [(ngModel)]="notes" type="text" class="form-control" placeholder="1024 Character Max..">
            </div>
          </div>

          <button class="btn btn-primary">Save</button>

        </div>
        <!-- panel body-->
      </div>
      <div class="panel-footer">
        News
      </div>
    </div>
    <!-- end : panel new News -->



  </div>
  <!-- content warpper -->



  <!-- Not is use kept for test purpose. -->
  <!-- start-Modal :  news -->
  <div class="modal fade" id="new_news" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Event Basic Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--  start : modal body-->
        <div class="modal-body">


        </div>
        <!--  end : modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal"
            (click)="update_event_basic()">
            Update
          </button>
        </div>
      </div>
    </div>
    <!-- end-Modal : news -->


    <!-- <app-footernavbar></app-footernavbar> -->
    <!-- <app-settingsnavbar></app-settingsnavbar> -->
  </div>
  <!-- end-Modal :  Event Edit Basic -->



  <app-footernavbar></app-footernavbar>
  <app-settingsnavbar></app-settingsnavbar>
</div>
