<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <section class="content-header">
      <section class="content ">
        <h1>Welcome to GUB : News</h1>
      </section>
    </section>

    <button class="btn btn-xl btn-primary" data-toggle="modal" (click)="setBasicEventInfo(event)"
      data-target="#new_news">
      New
    </button>
  </div>



  <!-- start-Modal :  news -->
  <div class="modal fade" id="new_news" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Event Basic Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--  start : modal body-->
        <div class="modal-body">
          <!--      Name-->
          <div class="col-md-12 offset-md-12">
            <div class="form-group">
              <label>Name : </label>
              <input [(ngModel)]="edit_name" type="text" class="form-control" placeholder="512 Character Max..">
            </div>
          </div>
          <!--   start date   -->
          <div class="col-md-3  offset-md-3">
            <div class="form-group">
              <label>Start Date</label>
              <input [(ngModel)]="edit_start_date" type="text" class="form-control" placeholder="{{start_date}}">
            </div>
          </div>
          <div class="col-md-3  offset-md-3">
            <div class="form-group">
              <label>Select Date</label>
              <input [(ngModel)]="edit_start_date" type="date" class="form-control" value="{{start_date}}">
            </div>
          </div>
          <!--      End date -->
          <div class="col-md-3  offset-md-3">
            <div class="form-group">
              <label>End Date</label>
              <input [(ngModel)]="edit_last_date" type="text" class="form-control" placeholder="{{last_date}}">
            </div>
          </div>
          <div class="col-md-3  offset-md-3">
            <div class="form-group">
              <label>Select Date</label>
              <input [(ngModel)]="edit_last_date" type="date" class="form-control" value="{{edit_last_date}}">
            </div>
          </div>
          <!--      Amount -->
          <div class="col-md-12 ">
            <div class="form-group">
              <label>Amount</label>
              <input [(ngModel)]="edit_cost" type="text" class="form-control">
            </div>
          </div>
          <!--      vanue-->
          <div class="col-md-12 ">
            <div class="form-group">
              <label>Vanue</label>
              <input [(ngModel)]="edit_vanue" type="text" class="form-control">
            </div>
          </div>
        </div>
        <!--  end : modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal"
            (click)="update_event_basic()">
            Update
          </button>
        </div>
      </div>
    </div>
    <!-- end-Modal : news -->


    <!-- <app-footernavbar></app-footernavbar> -->
    <!-- <app-settingsnavbar></app-settingsnavbar> -->
  </div>
  <!-- end-Modal :  Event Edit Basic -->



  <app-footernavbar></app-footernavbar>
  <app-settingsnavbar></app-settingsnavbar>
</div>
