<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">

    <h2>Search</h2>


    <div class="tab">
      <button class="tablinks active" (click)="searchTab(event, 'basic')">Basic</button>
      <button class="tablinks" (click)="searchTab(event, 'organization')">Organization</button>
      <button class="tablinks" (click)="searchTab(event, 'education')">Education</button>
    </div>

    <!--    start : basic search -->
    <div id="basic" class="tabcontent block ">
      <h1>Basic Search</h1>
      <!--start : search fields and search key or search value -->
      <h4>
        <button class="btn btn-info">Search</button>
        <button class="btn btn-xs btn-primary" (click)="refreshTable_basicSearch()">Refresh</button>
      </h4>
      <!-- sort by column name -->
      <div class="col-md-12 offset-md-12">
        <div class="form-group">
          <h4>Search By :</h4>
          <select [(ngModel)]="basic_search_by">
            <option value="batch">Student Batch</option>
            <option value="student_id">Student ID</option>
            <option value="dept">Dept</option>
            <option value="first_name">First Name</option>
            <option value="last_name">Last Name</option>
            <option value="skills">Skills</option>
            <option value="research_interest">Research Interest</option>
            <option value="phone">Phone</option>
            <option value="email">email</option>
            <option value="address">Address</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 offset-md-12">
        <div class="form-group">
          <label>Value : </label>
          <input [(ngModel)]="basic_value_search" type="text" class="form-control" placeholder="search...">
        </div>
      </div>
      <!-- end : search fields selection and search key or search value-->


      <!-- Start : showing all profiles after search -->

<!--            start : basic search pagination panel-->
<!--      perPage-->
      <div class="col-md-2 offset-md-2">
        <div style="text-align: center" class="form-group">
          <label>Per Page</label>
          <input style="text-align: center" [(ngModel)]="basicSearch_perPage" type="number" class="form-control"
                 value="{{basicSearch_perPage}}" (ngModelChange)="refreshTable_basicSearch()">
        </div>
      </div>
<!--      total-->
      <div class="col-md-2 offset-md-2">
        <div style="text-align: center" class="form-group">
          <label>Total </label>
          <input style="text-align: center" disabled="true" [(ngModel)]="basicSearch_total" type="number" class="form-control"
                 value="{{basicSearch_total}}">
        </div>
      </div>
<!--      prePage/nextPage-->
      <div class="col-md-3 offset-md-3">
        <div class="form-group" style="text-align: center">
          <button class="btn btn-primary btn-xs" (click)="basicSearch_previousPage()">Previous</button>
          <label class="btn btn-danger btn-xs ">Page Number</label>
          <button class="btn btn-primary btn-xs" (click)="basicSearch_nextPage()">Next</button>
          <input style="text-align: center" [(ngModel)]="basicSearch_pageNumber" type="number" class="form-control"
                 value="{{basicSearch_pageNumber}}">
        </div>
      </div>
<!--       sort by ASC or DESC -->
      <div class="col-md-3 offset-md-3">
        <div class="form-group" style="text-align: center">
          <h4>Sort Order</h4>
          <input type="radio" name="m_pay" [(ngModel)]="basicSearch_sort_by" value="ASC"
                 checked="checked">Ascending<br>
          <input type="radio" name="m_pay" [(ngModel)]="basicSearch_sort_by" value="DESC">Descending<br>
        </div>
      </div>
<!--       sort by column name -->
      <div>
        <h4>Sort By</h4>
        <select [(ngModel)]="basicSearch_sort_on">
          <option value="student_id" [selected]="true">Student ID</option>
          <option value="batch">Batch</option>
          <option value="passing_year">Passing Year</option>
          <option value="dept">Dept</option>
          <option value="gender">Gender</option>
        </select>
      </div>
<!--            end : basic search pagination panel-->

      <!-- satrt :  basic search showing all Profiles-->
      <!-- table : showing all profiles after basic search -->
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
              <tr>
                <th>Details</th>
                <th>Index</th>
                <th>Batch</th>
                <th>ID</th>
                <th>Dept</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Passing Year</th>
                <th>Research Interest</th>
                <th>Social Link</th>
              </tr>

              <!-- showing all profiles after basic search  -->
              <tr *ngFor="let ptm of baicSearch_profiles_array; let i=index">
                <td>{{i + 1}}</td>
                <td>
                  <button class="btn btn-xs" data-toggle="modal" data-target="#modal_approve_payment"
                          [ngStyle]="changeColor(ptm.status)" (click)="payment_id_approval=ptm.id">Approve
                  </button>
                </td>
                <td>
                  <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#modal_note"
                          (click)=" payment_note = ptm.notes; ">Notes
                  </button>
                </td>

                <td>
                  <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#modal_payment_details"
                          (click)="showPaymentDetails(ptm.type_ID)">Details
                  </button>
                </td>
                <!-- <td>{{ptm.status}}</td> -->
                <td>{{ptm.date}}</td>
                <td>{{ptm.created_at}}</td>
                <td>{{ptm.approved_date}}</td>
                <td>
                  <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#approved_by"
                          (click)="showPaymentDetails(ptm.type_ID)">Approved By
                  </button>
                </td>
                <td>{{ptm.amount}}</td>
                <td>{{ptm.payment_method}}</td>
                <td>{{ptm.mobile_number}}</td>
                <td>{{ptm.trx_id}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- End : showing all profiles after basic search -->
    </div>
    <!--    end : basic search -->


    <div id="organization" class="tabcontent">
      <h1>Organization Search</h1>
    </div>


    <div id="education" class="tabcontent">
      <h1>Education Search</h1>
    </div>


    <div class="panel-group">


      <!-- panel-group -->
    </div>


  </div>

