<!-- <p>education works!</p> -->
<!--education -->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#education">Education</a>
        <button class="btn btn-primary btn-xs" *ngIf="!edit" (click)="editEducation()">Edit</button>
        <button class="btn btn-primary btn-xs" *ngIf="edit" (click)="update()">
          Update
          <!-- {{ basicExist ? 'Update' : 'Save' }} -->
        </button>
        <button class="btn btn-danger btn-xs" *ngIf="edit" (click)="editEducation()">Cancel</button>
        <button class="btn btn-warnning btn-xs" *ngIf="edit" (click)="save()">
          Save
        </button>
      </h4>
    </div>
    <div id="education" class="panel-collapse collapse">
      <div class="panel-body">
        <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#modal_education">
          Add New
        </button>
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>Index</th>
                    <th>Degree Name</th>
                    <th>Institut Name</th>
                    <th>Passing Year</th>
                    <th>Result</th>
                    <th>Operation</th>
                  </tr>
                  <tr *ngFor="let e of educations; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{e.degree_name}}</td>
                    <td>{{e.institue_name}}</td>
                    <td>{{e.passing_year}}</td>
                    <td><span class="label label-success">{{e.result}}</span></td>
                    <td>
                      <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#modal_education"
                        (click)="update(e)">Edit</button>
                      <button class="btn btn-xs btn-warning" (click)="delete(e.id)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="panel-footer">Education</div>
    </div>
  </div>
</div>



<!-- Modal  Education-->
<div class="modal fade" id="modal_education" tabindex="-1" role="dialog" aria-labelledby="modal_educationLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_educationLabel">New Education</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Degree Name</label>
          <input [(ngModel)]="degree_name" [disabled]='!edit' type="text" class="form-control"
            placeholder="Enter Degree Name... (Max : 512 Character)">
        </div>
        <div class="form-group">
          <label>Institute Name</label>
          <input [(ngModel)]="institue_name" [disabled]='!edit' type="text" class="form-control"
            placeholder="Enter Institute Name...... (Max : 512 Character)">
        </div>
        <div class="form-group">
          <label>Passing Year</label>
          <input [(ngModel)]="passing_year" [disabled]='!edit' type="text" class="form-control"
            placeholder="Enter Passing Year ...... (Max : 512 Character)">
        </div>
        <div class="form-group">
          <label>Result</label>
          <input [(ngModel)]="result" [disabled]='!edit' type="text" class="form-control"
            placeholder="Enter Result...... (Max : 512 Character)">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save()">Save</button>
        </div>
      </div>
    </div>
  </div>


  <!-- <app-footernavbar></app-footernavbar> -->
  <!-- <app-settingsnavbar></app-settingsnavbar> -->
</div>
